language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - travis_retry composer self-update
  - composer validate

install:
  - travis_retry composer install --no-interaction --prefer-dist

script:
  - vendor/bin/phpunit
